<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="Score Index File Path" value="C:\work\visualstudio\Luca_TRUNK\LucaDevelop\csv\score_index\score.{0}" />
      <add key="Normalize Index File Path" value="C:\work\visualstudio\Luca_TRUNK\LucaDevelop\csv\normalize_index\normalize_index.txt" />
      <add key="Normalize Index Type File Path" value="C:\work\visualstudio\Luca_TRUNK\LucaDevelop\csv\normalize_index\normalize_type.txt" />
    </appSettings>
</configuration>