<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="Kifu File Path" value="./kifu" />
        <add key="Master Index File Path" value="C:\work\visualstudio\Luca_TRUNK\LucaDevelop\json\master_index.txt" />
        <add key="Index Matrix File Path" value="C:\work\visualstudio\Luca_TRUNK\LucaDevelop\csv\index_vector\{0}.{1}" />
        <add key="Result Score File Path" value="C:\work\visualstudio\Luca_TRUNK\LucaDevelop\csv\result_score\{0}.{1}" />
        <add key="Score Index File Path" value="C:\work\visualstudio\Luca_TRUNK\LucaDevelop\csv\score_index\score.{0}" />
        <add key="Joseki Temp File Path" value="C:\work\visualstudio\Luca_TRUNK\LucaDevelop\csv\joseki_temp\{0}.joseki.{1}.{2}" />
        <add key="Joseki File Path" value="C:\work\visualstudio\Luca_TRUNK\LucaDevelop\csv\joseki\joseki.{0}.{1}" />
        <add key="Joseki Analysis File Path" value="C:\work\visualstudio\Luca_TRUNK\LucaDevelop\csv\joseki_analysis\joseki_analysis.{0}.{1}.{2}.csv" />
        <add key="Optimize Stage List" value="15" />
    </appSettings>
</configuration>